* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background: #FFFAF0;
    font-family: 'Lato', Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    box-shadow: 0 -1px 10px black;
    overflow-x: hidden;
    background: #000000;
    width: 100%;
    word-spacing: 2rem;
    z-index: 150;
    position:fixed;
    top:0;
    padding-left:0.5rem;
    height:25px;
}

.header-link {
    display: inline-block;
    height: 100%;
    text-align: center;
    font-family: 'Lato', Sans-Serif;
    font-size: 1.25rem;
    color: rgb(255, 250, 240);
    letter-spacing: 1px;
}

.header-link a:hover {
    text-shadow: 0 0 1px;
}

.current-link {
    box-shadow: 0 3px 2px -2px;
    text-decoration: underline;
    text-decoration-color: rgba(255, 250, 240,0.75);
}

#icon {
    display: none;
}

h1 {
    display: none;
}

img {
    border: 1px solid #999999;
}

#main-title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
}

.main-page .text-content {
    margin-top:7rem;
}

.main-page p {
    font-size: 1.25rem;
    margin:4rem 0;
    line-height: 2rem;
}

.sc-icons {
    word-spacing: 1rem;
    float:right;
    padding-top:0.125rem;
    padding-right: 0.5rem;
}

.sc-mobile {
    display:none;
}

svg {
    fill: white;
    height:1.25rem;
    width:1.25rem;
    border-radius: 5px;
}


.email svg {
    padding:0.125rem;
    background:#f57d00;
}

.facebook svg {
    background: #3b5998;
}

.instagram svg {
    background: #e4405f;
}

#art-filter {
    top:54px;
    left:40px;
    height:28px;
    display: block;
    position:absolute;
    width: 15rem;
    border-radius: 3px;
    border: 1px solid #999999;
    background: #F5F5F5;
    padding: 3px;
}

#artwork {
    margin:0 auto;
    margin-top:96px;
    display:flex;
    justify-content:center;
    padding:1%;
}

.col {
    padding:.75rem;
}

.art img {
    width: 100%;
    display: block;
}

.art {
    margin-bottom: 30px;
    position: relative;
    display:none;
}

.featured .f, .collages .c, .drawings .d, .paintings .p, .sculptures .s {
    display:block;
}

.art:hover .title, .title:hover {
    display: block;
    height: 20px;
    bottom: -20px;
    animation-duration: 0.5s;
    transition: height 500ms linear, bottom 500ms linear;
    visibility:initial;
}

.title {
    visibility:hidden;
    color: #FFFAF0;
    border:1px solid #999999;
    border-top:0;
    bottom:0;
    height:0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    padding: 0 5px;
}

.name {
    float: left;
}

.year {
    float: right;
}

#full-image-container {
    position:fixed;
    top:25px;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.8);
}

#full-image-window img {
    background:rgb(255,255,255);
    max-width:97%;
    max-height:97%;
    display:block; 
    margin-top:1%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
}

.header {
    display: none;
}

.main-content {
    margin-top: 2rem;
}

.text-content {
    width:45%;
    margin-right:4%;
    margin-top:1rem;
    float:right;
    position:relative;
    word-spacing: 0.125rem;
    text-align:justify;
    line-height: 1.75rem;
}

.featured-img img {
    display: block;
    top:4rem;
    left:4%;
    margin-bottom:3rem;
    width:45%;
    box-shadow: 1px 1px 2px;
    position:fixed;
}

#cv-container {
    display:flex;
    text-align: center;
    font-size:.875rem;
    padding:3rem;
}

#cv-container h2 {
    margin-bottom:2rem;
    font-size:1.5rem;
}

#cv-container span {
    width: 100%;
}

.cv-year {
    margin-top: 1rem;
    margin-bottom:0.25rem;
    width:100%;
    font-size:1rem;
}

#cv-container em {
    display:block;
    font-size:1.125rem;
}

.profession {
    margin:3rem;
}

.hidden {
    display: none;
}

@media only screen and (max-width:1080px) {

    
    .text-content, .featured-img img {
        display: block;
        position: relative;
        margin: 0 auto;
        width:80%;
        float:none;
        margin-top: 4rem;
    }
    
    .featured-img img {
        position:static;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width:860px) {
    #artwork {
        padding:0;
        flex-direction:column;
        margin-top:2rem;
    }
    
    #mobile {
        width: 90%;
        margin: 0 auto;
    }
    
    #mobile .art {
        padding:0.5rem 0;
    }
    
    .title {
        display: block;
        height: 20px;
        bottom: -12px;
        visibility:initial;
    }
    
    title:hover, .art:hover .title {
        transition: none;
        display: block;
        bottom: -12px;
    }
    
    #cv-container {
        flex-direction: column;
    }
    
    #cv-container span {
        display:block;
        width:100%;
        margin-bottom:3rem;
    }
}

@media only screen and (max-width:640px) {
    #icon {
        display:block;
        position:fixed;
        top:0;
        right:0;
        margin-top: -1px;
        height:auto;
        width:2rem;
        color:white;
    }
    
    #header {
        height:auto;
        padding:0;
    }
    
    .header-link {
        font-size: 1.5rem;
        display:block;
        text-align: left;
        padding:.5rem;
        padding-right: 2rem;
    }
    
    #header-body .header-link {
        border-top:1px solid #FFFAF0;
    }
    
    #header-home:first-child span {
        float:right;
    }
    
    .current-link {
        text-decoration: none;
        background: #333;
    }
    
    #header .contact-links {
        display:none;
    }

    .hidden-nav {
        display:none;
    }
    
    #header .sc-icons {
        display: none;
    }
    
    .sc-mobile {
        display: block;
        width:3rem;
        margin:0 auto;
        float:none;
        height:3rem;
        margin-bottom:4rem;
    }
    
    svg {
        position: absolute;
        height:3rem;
        width:3rem;
        border-radius: 16px;
    }
    
    .instagram svg {
        margin-left:-5rem;
    }
    
    .email svg {
        margin-left:5rem;
    }
    
    .main-page .text-content {
        text-align: center;
    }

    #artwork {
        margin-bottom:2rem;
    }
    
    #art-filter {
        left:0;
        top:72px;
        position:relative;
        margin: 0 auto;
    }
    
    #cv-container span:last-child {
        margin-bottom: 0;
    }
}


